# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vcxproj
*.filters
*.user
*.sln
/sgs/server/sgs_server/.vs/sgs_server/v15
*.log
*.tlog
*.idb
*.pdb
*.bak
.vscode
*.pid
/sgs/server/sgs_server/sgs_server/ClassDiagram1.cd
/sgs/server/sgs_server/sgs_server/ClassDiagram.cd
/sgs/client/MyCppGame/proj.linux
/sgs/client/MyCppGame/proj.ios_mac
/sgs/client/MyCppGame/proj.android-studio
/sgs/client/MyCppGame/proj.android
/sgs/client/MyCppGame/cocos2d
/sgs/client/MyCppGame/Classes2
/sgs/client/MyCppGame/Classes/boost.asio.1.0.159/example
/sgs/client/MyCppGame/proj.win32/Debug.win32/MyCppGame.vcxprojResolveAssemblyReference.cache
/sgs/client/MyCppGame/proj.win32
/sgs/client/MyCppGame/proj.win32/MyCppGame.VC.db