<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>liziguang01.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caipimoshitu_00007.png</key>
			<dict>
				<key>width</key>
				<integer>175</integer>
				<key>height</key>
				<integer>344</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>344</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>32</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caipimoshitu_00006.png</key>
			<dict>
				<key>width</key>
				<integer>175</integer>
				<key>height</key>
				<integer>344</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>344</integer>
				<key>x</key>
				<integer>175</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caipimoshitu_00005.png</key>
			<dict>
				<key>width</key>
				<integer>175</integer>
				<key>height</key>
				<integer>344</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>344</integer>
				<key>x</key>
				<integer>350</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caipimoshitu_00004.png</key>
			<dict>
				<key>width</key>
				<integer>175</integer>
				<key>height</key>
				<integer>344</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>344</integer>
				<key>x</key>
				<integer>525</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caipimoshitu_00003.png</key>
			<dict>
				<key>width</key>
				<integer>175</integer>
				<key>height</key>
				<integer>344</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>344</integer>
				<key>x</key>
				<integer>700</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caipimoshitu_00002.png</key>
			<dict>
				<key>width</key>
				<integer>175</integer>
				<key>height</key>
				<integer>344</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>344</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>376</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caipimoshitu_00001.png</key>
			<dict>
				<key>width</key>
				<integer>175</integer>
				<key>height</key>
				<integer>344</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>344</integer>
				<key>x</key>
				<integer>175</integer>
				<key>y</key>
				<integer>344</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caipimoshitu_00000.png</key>
			<dict>
				<key>width</key>
				<integer>175</integer>
				<key>height</key>
				<integer>344</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>344</integer>
				<key>x</key>
				<integer>350</integer>
				<key>y</key>
				<integer>344</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shenfenchagnai.png</key>
			<dict>
				<key>width</key>
				<integer>369</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>369</integer>
				<key>originalHeight</key>
				<integer>122</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>720</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caipimoshitupiao_00000.png</key>
			<dict>
				<key>width</key>
				<integer>180</integer>
				<key>height</key>
				<integer>274</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>274</integer>
				<key>x</key>
				<integer>525</integer>
				<key>y</key>
				<integer>344</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caipimoshitupiao_00001.png</key>
			<dict>
				<key>width</key>
				<integer>180</integer>
				<key>height</key>
				<integer>274</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>274</integer>
				<key>x</key>
				<integer>705</integer>
				<key>y</key>
				<integer>344</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caipimoshitupiao_00002.png</key>
			<dict>
				<key>width</key>
				<integer>180</integer>
				<key>height</key>
				<integer>274</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>274</integer>
				<key>x</key>
				<integer>369</integer>
				<key>y</key>
				<integer>688</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caipimoshitupiao_00003.png</key>
			<dict>
				<key>width</key>
				<integer>180</integer>
				<key>height</key>
				<integer>274</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>274</integer>
				<key>x</key>
				<integer>549</integer>
				<key>y</key>
				<integer>618</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caipimoshitupiao_00004.png</key>
			<dict>
				<key>width</key>
				<integer>180</integer>
				<key>height</key>
				<integer>274</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>274</integer>
				<key>x</key>
				<integer>729</integer>
				<key>y</key>
				<integer>618</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caipimoshit006_00001.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>842</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>ShenFenChang0.png</string>
			<key>realTextureFileName</key>
			<string>ShenFenChang0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>